* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'TmoneyRoundWind', sans-serif;
  letter-spacing: var(--ls-1);
}

.head-eb-60 {
  font-weight: var(--weight-eb);
  font-size: 60px;
  line-height: 1.5;
}

.head-eb-24 {
  font-weight: var(--weight-eb);
  font-size: 24px;
  line-height: 1.5;
}

.head2-r-18 {
  font-weight: var(--weight-r);
  font-size: 18px;
  line-height: 1.5;
}

.head2-r-14 {
  font-weight: var(--weight-r);
  font-size: 14px;
  line-height: 1.45;
}
