:root {
  --weight-eb: 800;
  --weight-r: 400;
  --ls-1: -0.01em;

  --white: #ffffff;
  --orange: #f5622e;

  --primary100: #fff9f0;
  --primary200: #fef1d3;
  --primary300: #f8e5cd;
  --primary500: #fcc944;

  --navy100: #1c599d;
  --navy200: #0f154d;

  --brown100: #ccbba6;
  --brown200: #68462b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'TmoneyRoundWind', sans-serif;
  letter-spacing: var(--ls-1);
}

.head-eb-60 {
  font-weight: var(--weight-eb);
  font-size: 60px;
  line-height: 1.5;
}

.head-eb-24 {
  font-weight: var(--weight-eb);
  font-size: 24px;
  line-height: 1.5;
}

.head2-r-18 {
  font-weight: var(--weight-r);
  font-size: 18px;
  line-height: 1.5;
}

.head2-r-14 {
  font-weight: var(--weight-r);
  font-size: 14px;
  line-height: 1.45;
}
