@font-face {
  font-family: 'TMoneyDungunbaram';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindRegular.woff')
    format('woff');
  font-weight: normal;
  font-display: swap;
}

:root {
  font-family: 'TMoneyDungunbaram', sans-serif;
}
